.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.container li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.container li .cover {
    float: left;
    width: 145px;
    height: 200px;
    margin-right: 10px;
}

.container li .cover img {
    width: 100%;
    height: 100%;
}

.container li h2 {
    margin: 0;
}

.container li p {
    line-height: 1.7;
}

/* 定义一个动画 */
@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}
.loading{
    display: none;
    margin: 20px 0;
}
.loading p {
    width: 50px;
    height: 50px;
    border: 10px solid #ccc;
    border-top-color: #666;
    border-radius: 50%;
    margin: 0 auto;
    animation: rotate 1s linear infinite;
}

.no-data{
    text-align: center;
    color: #aaa;
    margin: 20px 0;
    display: none;
}