body{
    margin: 0;
    padding: 0;
    background-color: aqua;
}

.piano {
    text-align: center;
    height: 200px;
    margin: 30px auto;
    padding: 0;
    list-style: none;
}

.piano li{
    display: inline-block;
    width: 50px;
    height: 200px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 24px;
    position: relative;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);
    cursor: pointer;
}

.piano li span{
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
}


.piano li.low::before{
    content: ".";
    position: absolute;
    bottom: 15px;
    width: 100%;
    left: 0;
}

.piano li.high::before{
    content: ".";
    position: absolute;
    bottom: 55px;
    width: 100%;
    left: 0;
}