*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: #f6f6f8;
    font-size: 13px;
}
.search{
    width: 250px;
    height: 44px;
    background: white;
    margin: 100px auto;
}
.citySelect{
    width: 100%;
    height: 100%;  
    cursor: pointer;

    position: relative;
}
.citySelect span{
    display:block;
    width: 70px;
    height: 44px;
    line-height: 44px;
    font-weight: 400;
    color: #61687c;
    margin-left: 18px;
}
.citySelect i{
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/icons.png) 0 -2044px no-repeat;
    top:18px;
    left:75px;
}
.citySelect i::after{
    content: '';
    background-color: #f2f2f5;
    width: 1px;
    height: 26px;
    position: absolute;
    top: -8px;
    right: -5px;
}

/* 下面部分 */
.dragDown{
    /* display: none; */
}
.dragDown div{
    width:125px;
    height: 300px;
    float:left;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    /* 水平距离 垂直距离 模糊距离 阴影迟寸*/
    
}
.dragDown div ul{
    width: 100%;
    height: 100%;
    background: white;

    overflow:scroll; 
}
.dragDown div ul li{
    width: 105px;
    height: 50px;
    padding-left: 20px;
    color:#9fa3b0;
    cursor: pointer;
    line-height: 50px;
}
.dragDown div.city ul{
    background: #f6f6f8;
}

.dragDown div ul::-webkit-scrollbar{/*滚动条整体样式*/
    width: 4px;/*高宽分队对应着横竖滚动条的尺寸*/
    height: 0;
    /* background: red; */
}
.dragDown div ul::-webkit-scrollbar-thumb{/*滚动条里的小滑块*/
    border-radius: 2px;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.2);/*内投影*/
    background: #d1d4db;
}
.dragDown div ul::-webkit-scrollbar-track{/*滚动条里的轨道*/
    /* background: red; */
    /* border-radius：0px; */
}

.dragDown div ul li:hover{
    background-color: #f1f3f6;
}