*{
    margin:0;
    padding:0;
}
html,body{
    width: 100%;
    height:100%;
    background-color: #222;
    overflow: hidden;
}
#wrap{
    position: relative;
    margin:20px auto;
}
.square{
    position: absolute;
    width:86px;
    height:76px;
    cursor: pointer;
    background-size:cover;
    background-repeat: no-repeat;
}