*{
    padding: 0;
    margin: 0;
}

html,
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: lightgray;
}

#tetris{
    position: relative;
    margin: 150px auto 0px auto;
    height: 600px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #000;
}

.square{
    position: absolute;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid black;
    border-bottom: 2px solid black;


}

#info {
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -150px;
    height: 120px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 0px;
}

#score {
    position: relative;
    width: 100px;
    height: 100%;
    display: inline-block;
    line-height: 120px;
    text-align: center;
    /* float: left; */
    font-size: 30px;
    color: black;
    border-right: 1px solid black;
}

#next {
    position: relative;
    width: 197px;
    height: 100%;
    display: inline-block;
}

#show {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px auto 0px auto;
}